section {
    display: flex;
    justify-content: center;
}

.cell {
    border: 1px solid white;
    padding: 10px;
    height: 40px;
    font-size: 26px;
    font-weight: 500;
    width: 40px;
}

.cell:hover {
    cursor: pointer;
}

.game-board {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
}